<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="756ead">  <td>17/07/19 01:36:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="One.first()[pri:0, instance:Test.One@490ab905]">first</td> 
  <td>main@1383547042</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/07/19 01:36:38</td>   <td>314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Circuit_Login.chkLogin()[pri:0, instance:Test.Circuit_Login@56ac3a89]">chkLogin</td> 
  <td>main@1383547042</td>   <td></td> </tr>
</table>
